@media (max-width: 767px) {
      .btn-to-reports {
        text-align: center;
        gap: 15px;
        width: 84px;
        height: 24px;
        align-items: baseline;
        display: flex;
        border: none;
        background-color: transparent;
        margin: 0 auto;
        position: absolute;
        top: 42px;
        transform-origin: center;
        z-index: 1000;
        left: 38%;
      }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .btn-to-reports {
    top: 50px;
    right: 37px;
    gap: 15px;
    width: 84px;
    height: 24px;
    position: absolute;
    display: flex;
    align-items: baseline;
    border: none;
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .btn-to-reports {
    width: 84px;
    height: 24px;
    position: absolute;
    top: 50px;
    right: 91px;
    display: flex;
    align-items: baseline;
    gap: 20px;
    border: none;
    background-color: transparent;
  }
}

.btn-to-reports {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.btn-to-reports-p1 {
  text-align: right;
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 14.06px;
  font-weight: 400;
  color: #52555fb2;
}
.btn-to-reports:hover {
  transform: scale(1.15);
  color: #ff751d;
}
.btn-to-reports:active {
  filter: brightness(1.3);
}
.btn-to-reports-graph {
  width: 14px;
  height: 14px;
}
.btn-to-reports-p1:hover {
  color: #ff751d;
}
.btn-to-reports-graph:hover {
  color: #ff751d;
}


