.nav-bar-container {
  /* width: 1280px; */
  width: 320px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .nav-bar-user-name {
    display: none;
  }
  .nav-bar-line {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar-container {
    width: 100%;
  }
  .nav-bar-user-name {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .nav-bar-container {
    width: 100%;
  }
  .nav-bar-user-name {
    display: flex;
  }
}
.nav-bar-logo {
  /* height: 100%; */
  width: 90px;
  height: 31px;
  display: flex;
  margin: 13px auto 32px 12px;
}
.nav-bar-logo-home {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-bar-box {
  height: 100%;
  display: flex;
}

.nav-bar-avatar {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 18px;
  margin: auto;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.nav-bar-user-name {
  /* display: flex; */
  height: 100%;
  min-width: 80px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin: 0 15px 0 15px;
  font-weight: 400;
}
.nav-bar-line {
  width: 1px;
  height: 36px;
  background-color: #e0e5eb;
  margin: auto 0 auto 0;
}

.nav-bar-button {
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  margin: 20px 20px 20px 20px;
  color: var(--text-grey);
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.nav-bar-button:hover {
  transform: scale(1.2);
  color: #ff751d;
}
.isActive:active {
  filter: brightness(1.3);
}
