@media (max-width: 767px) {

  .goBackBtn {
    color: var(--light-grey);
  }
  .box {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    transform-origin: center;
    z-index: 1000;
  }
  .dataNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 180px;
    margin: 10px auto 0 auto;
  }
  .back {
    padding-left: 20px;
    }
  .goBackBtn {
    font-size: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .goBackBtn {
      color: var(--text-light-grey);
    }
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: 32px;
    width: 704px;
  }
  .dataNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 210px;
    padding-left: 20px;
  }
  .back {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
@media (min-width: 1280px) {
  .goBackBtn {
      color: var(--text-light-grey);
    }
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: 32px;
    width: 1034px;
  }
  .dataNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 210px;
  }
  .back {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.dataNav {
  color: var(--text-light-grey);
  position: relative;
}

.goBackBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.back {
  margin-top: 0px;
}

.dataBold {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  padding: 5px;
}

.dataArrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowBtn {
  background: none;
  border: none;
  color: var(--orange);
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.arrowBtn:hover {
  transform: scale(1.25);
}

.arrowBtn:active {
  filter: brightness(1.3);
}

.goBackBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-light-grey);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.goBackBtn:hover {
  transform: scale(1.10);
  color: #ff751d;
}
.goBackBtn:active {
  filter: brightness(1.3);
}

.errorMessage {
  color: red;
  text-align: center;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.arrowIcon {
  margin-right: 20px; 
}
