.transaction-page-container {
  /* width: 1280px; */
  min-height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.transaction-page-bacgroud-box {
  height: 526px;
  width: 100%;
  background-color: #f5f6fb;
  border-bottom-left-radius: 150px;
  position: absolute;
  top: 0;
  z-index: -1;
}
.transaction-page-bottom-svg-box {
  width: 1334px;
  height: 180px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.transaction-page-bottom-svg {
  position: absolute;
  width: 83px;
  height: 89px;
}

.transaction-page-bottom-svg-box > img:nth-child(1) {
  top: 91px;
  left: 0px;
  transform: rotate(-0deg);
}

.transaction-page-bottom-svg-box > img:nth-child(2) {
  top: 28px;
  left: 140px;
  transform: rotate(90deg);
}

.transaction-page-bottom-svg-box > img:nth-child(3) {
  top: -40px;
  left: 50px;
  transform: rotate(180deg);
}

.transaction-page-bottom-svg-box > img:nth-child(4) {
  top: 91px;
  left: 259px;
  transform: rotate(-0deg);
}

.transaction-page-bottom-svg-box > img:nth-child(5) {
  top: 28px;
  left: 389px;
  transform: rotate(-90deg);
}

.transaction-page-bottom-svg-box > img:nth-child(6) {
  top: 91px;
  left: 508px;
  transform: rotate(-0deg);
}

.transaction-page-bottom-svg-box > img:nth-child(7) {
  top: 28px;
  left: 638px;
  transform: rotate(90deg);
}

.transaction-page-bottom-svg-box > img:nth-child(8) {
  top: 91px;
  left: 757px;
  transform: rotate(-0deg);
}

.transaction-page-bottom-svg-box > img:nth-child(9) {
  top: 28px;
  left: 887px;
  transform: rotate(-90deg);
}

.transaction-page-bottom-svg-box > img:nth-child(10) {
  top: 91px;
  left: 1006px;
  transform: rotate(-0deg);
}

.transaction-page-bottom-svg-box > img:nth-child(11) {
  top: 28px;
  left: 10136px;
  transform: rotate(90deg);
}

.transaction-page-bottom-svg-box > img:nth-child(12) {
  top: -40px;
  left: 1028px;
  transform: rotate(0deg);
}

.transaction-page-bottom-svg-box > img:nth-child(13) {
  top: 28px;
  left: 1136px;
  transform: rotate(90deg);
}

.transaction-page-bottom-svg-box > img:nth-child(14) {
  width: 25px;
  height: 89px;
  object-fit: none;
  object-position: 0% 100%;
  top: 91px;
  left: 1255px;
  transform: rotate(-0deg);
}
