#root {
  --orange: #ff751d;
  --light-orange: #ffdac0;
  --light-grey: #f5f6fb;
  --text-grey: #52555f;
  --text-light-grey:#52555FB2;
  --dark-navy-grey: #071f41;
  --kapusta-grey: #dfe2eb;
  --red: #e53935;
  --green: #407946;
  --white: #ffffff;
  --black: #000000;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--text-grey);

  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #root {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  #root {
    width: 1280px;
  }
}

header,
footer,
body,
span,
div,
nav,
svg,
img,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
